<div class="signup" [formGroup]="newUserForm" fxLayout="column" fxLayoutAlign="space-around">
  <h2>Registreer nieuw account</h2>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="name" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wachtwoord</mat-label>
    <input matInput type="password" formControlName="password" required>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="registerUser()">Sign Up</button>
</div>
