<div fxLayout="column" fxLayoutAlign="space-around">
  <div class="account" [formGroup]="accountForm" fxLayout="column">
    <h3>Account</h3>
    <p class='alert alert-danger' *ngIf="accountFailure">{{ accountFailure }}</p>
    <p class='alert alert-success' *ngIf="accountSuccess">{{ accountSuccess }}</p>
    <mat-form-field appearance="outline">
      <mat-label>Uw naam</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="accountForm.dirty && !accountForm.valid" (click)="updateAccount()">Update account</button>
  </div>
  <div class="change-password" [formGroup]="passwordForm" fxLayout="column">
    <h3>Wachtwoord veranderen</h3>
    <p class='alert alert-danger' *ngIf="passwordFailure">{{ passwordFailure }}</p>
    <p class='alert alert-success' *ngIf="passwordSuccess">{{ passwordSuccess }}</p>
    <mat-form-field appearance="outline">
      <mat-label>Huidig wachtwoord</mat-label>
      <input matInput type='password' formControlName="oldPassword" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nieuw wachtwoord</mat-label>
      <input matInput type='password' formControlName="newPassword" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nieuw wachtwoord bevestigen</mat-label>
      <input matInput type='password' formControlName="confirmPassword" required/>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!passwordForm.valid" (click)="changePassword()">Verander wachtwoord</button>
  </div>
</div>
