<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="5%">
  <div>
    <h2>Lid Worden</h2>
    <p>Binnen de V.M.T.R. zijn veel verschillende merken en typen motoren te vinden.
      Zo zijn de toermotors, racers, klassiekers en naked bikes binnen de V.M.T.R. vertegenwoordigd.</p>
    <p>De leeftijd van onze leden varieert enorm waar het jongste lid in de 20 is, is het oudste lid alweer over de 60.
      En waar de leeftijd van de leden enorm varieert, zo varieert ook de leeftijd van de motoren enorm.</p>
    <p>Een lidmaatschap van de V.M.T.R. kost slechts 35 euro per jaar.
      Om te zien wat je hiervoor krijgt verwijzen we je graag naar de <a class='normal-link' routerLink="/evenementen">agenda van onze club.</a></p>
    <p>Wil je er ook bij horen? Vul het formulier hiernaast in en er wordt zo snel mogelijk contact met je opgenomen.</p>
  </div>
  <div class="becomeMemberForm" [formGroup]="becomeMemberForm" fxLayout="column">
    <p class='alert alert-info' *ngIf='success'>{{ success }}</p>
    <p class='alert alert-danger' *ngIf='error'>{{ error }}</p>
    <mat-form-field appearance="outline">
      <mat-label>Naam</mat-label>
      <input matInput name='name' formControlName="name" placeholder='Uw Naam' class='form-control' required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type='email' name="email" formControlName="email" placeholder='Uw emailadres' class='form-control' required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefoonnr</mat-label>
      <input matInput type='text' name="phone" formControlName="phone" placeholder='0612345678' class='form-control' />
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!becomeMemberForm.valid" (click)="signup()">Word Lid</button>
  </div>
</div>
