<div class="events">
  <div class="event" *ngFor='let event of events'>
    <app-event-detail [event]="event" [editable]="loggedInUser && loggedInUser.role === 'Admin'"></app-event-detail>
  </div>
  <div *ngIf='events.length === 0'>
    <p class='alert alert-info'>Er zijn op dit moment geen evenementen gepland. Kijk regelmatig op deze site om te zien of deze zijn ingepland.</p>
  </div>
</div>
