<div>
  <p class='alert info' *ngIf='success'>{{ success }}</p>
  <p class='alert error' *ngIf='error'>{{ error }}</p>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap="5%">
  <div>
    <h2>Tent huren</h2>
    <div>De V.M.T.R. heeft een eigen feesttent. Deze kan voor een bepaalde periode gehuurd worden. Of dit nu een dag, weekend, week of langere periode is.
      Wij komen de tent brengen, opzetten en afbreken. U hoeft alleen maar een paar mankrachten ter beschikking stellen.</div>
    <div>Het tarief voor het huren van de feesttent tent € 75,-. Voor deze prijs zet de VMTR de tent op en wordt deze ook weer afgebroken.
      Voor het afbreken dient de tent wel droog te zijn. Mocht het voorkomen dat de tent nat is en er is een mogelijkheid om de tent langer te staan kan er gevraagd worden om de tent op een later moment af te breken.
      Voor meer informatie, of om de tent te boeken kunt u het formulier hiernaast invullen en dan nemen wij contact met u op.
    </div>
  </div>
  <div class="tentForm" [formGroup]="tentForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Naam</mat-label>
      <input matInput name='name' formControlName="name" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput name='email' type='email' formControlName="email" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefoonnr</mat-label>
      <input matInput name='phone' formControlName="phone" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Uw Bericht</mat-label>
      <textarea matInput name='message' formControlName="message" cols='30' rows='4' required></textarea>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="book()">Verstuur</button>
    </div>
  </div>
</div>
