<div>
  <p class='alert alert-danger' *ngIf='error'>{{ error }}</p>
  <div class="row">
    <div *ngFor="let album of albums; let albumIndex = index;">
      <h4><a [routerLink]="['/album', album.id]">{{ album.name }}</a></h4>
      <gallery [items]="images[albumIndex]" [thumb]="false" [dots]="false" [counter]="false" [nav]="false" [autoPlay]="true" loadingMode="indeterminate"></gallery>
      <p *ngIf='album.description'>{{ album.description }}</p>
      <p *ngIf="album.public == 0"><button color="primary" mat-raised-button (click)="markAsPublic(album)">Markeer als Publiek</button></p>
      <p *ngIf="album.public == 1"><button color="primary" mat-raised-button (click)="markAsPrivate(album)">Markeer als Private</button></p>
    </div>
  </div>
</div>
