.photo {
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}
.thumbnail {
  width: 30%;
  height: 200px;
  cursor: pointer;
  float: left;
  margin-left: 75px;
  background-color: transparent;
}
.thumbnail-carousel {
  margin-left: 30px;
  margin-right:30px;
  margin-top: 20px;
}

.thumb-control {
  margin-top: 390px;
  border:none;
}

.large-thumb {
  width: 200px;
  height: 200px;
}

.album-item {
  height: 350px;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
}
