<div class="col-md-10 col-md-offset-2">
  <div class='col-md-8 col-md-offset-1' *ngIf="album">
    <h4>{{ album.name }}</h4>
    <div class="row">
      <gallery [dots]="false" [counter]="false" [autoPlay]="true" loadingMode="indeterminate"></gallery>
    </div>
    <p *ngIf='album.description'>{{ album.description }}</p>
  </div>
</div>
