.recentPhotos {
  display: inline-block;
}
.photo {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
}

.photo > button {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.image-center {
  margin-left: auto;
  margin-right: auto;
}

.albumForm {
  max-width: 400px;
  min-width: 400px;
}
