<div fxLayout="column">
  <div *ngFor="let result of error">
    <p class='alert alert-danger text-center' *ngIf="result">{{ result }}</p>
  </div>
  <div *ngFor="let result of success">
    <p class='alert alert-success text-center' *ngIf="result">{{ result }}</p>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap="5%" *ngIf="!uploading">
    <div fxLayout="column" class="albumForm" [formGroup]="albumForm">
      <h3>Album Details</h3>
      <mat-form-field appearance="outline">
        <mat-label>Album Naam</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>Album Omschrijving</mat-label>
        <textarea matInput formControlName="description" cols='30' rows='4'></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createAlbum()">Maak een nieuw album</button>
    </div>
    <div fxLayout="column">
      <h3>Foto's voor het album</h3>
      <app-upload-photo #uploadPhoto (photoUploadSuccess)="onPhotoUploadSuccess($event)" (onPhotoUploadError)="onPhotoUploadError($event)"></app-upload-photo>
    </div>
  </div>
  <div *ngIf="uploading" class="text-center">
    <img src="/assets/loading.gif" class="image-center img-responsive">
  </div>
</div>
