<div fxLayout="column" fxLayoutAlign="center" class="contactForm" [formGroup]="contactForm">
  <p class='alert alert-info' *ngIf='success'>{{ success }}</p>
  <p class='alert alert-danger' *ngIf='error'>{{ error }}</p>
  <h2>Contact</h2>
  <p>Om ons te bereiken kunt u bellen of u kunt contact opnemen via het onderstaande formulier:</p>
  <mat-form-field appearance="outline">
    <mat-label>Uw Naam</mat-label>
    <input matInput type='text' formControlName="name" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Uw emailadres</mat-label>
    <input matInput type='email' formControlName="email" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Telefoonnr</mat-label>
    <input matInput type='text' formControlName="phone" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Onderwerp</mat-label>
    <input matInput type='text' formControlName="subject" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Uw Bericht</mat-label>
    <textarea matInput class='form-control' formControlName="message" cols='30' rows='4' required></textarea>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="!contactForm.valid" (click)="sendForm()">Verstuur</button>
</div>
