<button mat-menu-item [matMenuTriggerFor]="menu">{{ route.name }}</button>
<mat-menu  #menu="matMenu">
  <button *ngFor="let subItem of route.subItems" mat-menu-item [routerLink]="subItem.routeLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    {{ subItem.name }}
  </button>
</mat-menu>
