<div>
  <p class='alert alert-danger' *ngIf="error">{{ error }}</p>
  <div>
    Hieronder staan alle routes die geupload zijn. Klik op een route om een overzicht van de route te zien en deze eventueel te downloaden.

    <div *ngFor='let route of routes'>
      <a [routerLink]="['/route', route.filename]" class='normal-link'>{{ route.name }}</a><br />
    </div>
  </div>
</div>
