<div class="col-md-10 col-md-offset-2">
  <p class='alert alert-danger text-center' *ngIf="error">{{ error }}</p>
  <div class='col-md-12'>
    <div *ngFor='let route of routes'>
      <p class="row">
        <span class="col-md-4"><a [routerLink]="['/route', route.filename]" class='normal-link'>{{ route.name }}</a></span>
        <span class="col-md-4"><button class="btn btn-primary" *ngIf="route.public === 0" (click)="markAsPublic(route)">Markeer als public</button>
          <button class="btn btn-primary" *ngIf="route.public === 1" (click)="markAsPrivate(route)">Markeer als private</button></span>
      </p>
    </div>
  </div>
</div>
