<div>
  <div *ngFor="let result of error">
    <p class='alert alert-danger text-center' *ngIf="result">{{ result }}</p>
  </div>
  <div *ngFor="let result of success">
    <p class='alert alert-success text-center' *ngIf="result">{{ result }}</p>
  </div>
  <div class='files'>
    <div class='route'>
      <h4><b>Let op:</b> Er kunnen alleen GPX en KML bestanden geupload worden. Houd Ctrl ingedrukt tijdens het selecteren om meerdere bestanden te selecteren.</h4>
      <input type="file" accept='.gpx,.kml' multiple (change)="addFiles($event)" /><br />
    </div>
  </div>
  <button (click)="uploadFiles()" class="btn btn-success">Upload routes</button>
</div>
