<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5%">
  <div>
    <div *ngFor="let comment of comments">
      <p>{{ comment.comment }}</p>
      <p>Geplaatst op {{ comment.created_at }}  door {{ comment.name || 'Anoniem' }}</p>
      <hr />
    </div>
  </div>
  <div class="guestbookForm" [formGroup]="guestbookForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Naam</mat-label>
      <input matInput type='text' formControlName="name" placeholder='Uw Naam' />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Uw Bericht</mat-label>
      <textarea matInput formControlName="message" cols='30' rows='4' required></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="guestbookForm.invalid" (click)="placeComment()">Plaats</button>
  </div>
</div>
