<div class="route-detail">
  <img src="assets/loading.gif" class="image-center img-responsive" *ngIf="!route">
  <div>
    <h3>{{ route?.name }}</h3>

    <div #map class="map" style="width:100%;height:600px"></div>

    <button mat-raised-button (click)="downloadGPX()" [disabled]="!hasGPX">Download GPX</button>
    <button mat-raised-button (click)="downloadKML()" [disabled]="!hasKML">Download KML</button>
    <button mat-raised-button (click)="downloadITN()" [disabled]="!hasITN">Download ITN</button>
  </div>
  <!-- <app-route-download-modal [downloadExtension]="fileDownload"></app-route-download-modal> -->
</div>
