.recentPhotos {
  display: inline-block;
}
.photo {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
}
.photo > button {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.image-center {
  margin-left: auto;
  margin-right: auto;
}
.large-thumb {
  width: 200px;
  max-height: 200px;
}
