<div *ngFor="let result of error">
  <p class='alert alert-danger text-center' *ngIf="result">{{ result }}</p>
</div>
<div *ngFor="let result of success">
  <p class='alert alert-success text-center' *ngIf="result">{{ result }}</p>
</div>
<div *ngIf="loading" class="text-center">
  <img src="assets/loading.gif" class="image-center img-responsive">
</div>

<div *ngIf="!loading">
  Selecteer een album om fotos aan toe te voegen:
  <mat-select name="albumSelect" class='black' [(ngModel)]='selectedAlbum' (ngModelChange)="getPhotosOfAlbum()">
    <mat-option *ngFor="let album of albums" [value]="album">{{album.name}}</mat-option>
  </mat-select>
</div>

<div *ngIf="selectedAlbum && albumPictures && !loading">
  <h3>Huidige Foto's</h3>
  <div ng-if='albumPictures.length === 0'>Er zijn nog geen fotos in dit album</div>
  <div class='recentPhotos' *ngFor='let photo of albumPictures'>
    <div class='photo'>
      <img [src]="photo.path" class='large-thumb' /><br />
      <button mat-raised-button class="remove-button" (click)='deletePhoto(photo)'>Verwijder Foto</button>
    </div>
  </div>
</div>
<div>
  <h3>Nieuwe Foto's</h3>
  <p class='alert alert-danger text-center' *ngIf="uploadError">{{ uploadError }}</p>
  <div class='newPhotos'>
    <div class="photo">
      <app-upload-photo #uploadPhoto (photoUploadSuccess)="onPhotoUploadSuccess($event)" (photoUploadError)="onPhotoUploadError($event)"></app-upload-photo>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="addPhotosToAlbum()">Voeg de foto's aan het project toe</button>
</div>
