<div class='files'>
  <div class='photo'>
    <h4><b>Let op:</b> je kan meerdere bestanden tegelijk selecteren. Houd Ctrl ingedrukt tijdens het selecteren om meerdere te selecteren.</h4>
    <input type="file" accept='image/*' multiple (change)="addFiles($event)" /><br />
  </div>
</div>
