<div class="loginForm" fxLayout="column" [formGroup]="loginForm">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="text" matInput formControlName="email" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wachtwoord</mat-label>
    <input type="password" matInput formControlName="password" required />
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()">Login</button>
</div>
