<div *ngIf="route" fxLayout="column" fxLayoutGap="5%">
  <p fxLayout="row" fxLayout.sm="column" fxLayoutAlign="flex-end">
    <span (click)="close()" aria-hidden="true">&times;</span>
  </p>
  <p fxLayout="column" fxLayoutGap="5%">
    <span class='alert error' *ngIf='downloadForm.value.errorString'>{{ downloadForm.value.errorString }}</span>
    <ng-container [formGroup]="downloadForm">
      <span>Voor dat u de {{ route.name }} route download willen we u graag vragen om uw naam en adres achter te laten.</span>
      <span>Hiermee kunnen wij u op de hoogte houden wanneer er nieuwe routes zijn toegevoegd en ander nieuws over de VMTR.</span>
      <mat-form-field appearance="outline">
        <mat-label class="black">Uw Naam</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="downloadForm.get('name').hasError('required')">Uw naam is vereist</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="black">Uw emailadres</mat-label>
        <input matInput type='email' formControlName="email" required />
        <mat-error *ngIf="downloadForm.get('email').hasError('required')">Uw email is vereist</mat-error>
      </mat-form-field>
    </ng-container>
  </p>
  <p fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button color="primary" [disabled]="!downloadForm.valid" (click)="downloadRoute()">Download route</button>
    <button mat-raised-button color="secondary" (click)="close()">Cancel</button>
  </p>
</div>
