<div>
  <div>In 1989 is het idee ontstaan om een motortoerclub op te richten in Norg.
    Na het plaatsen van een advertentie in de lokale krant werd mede door de vele reacties al snel een oprichtingvergadering gehouden.
    Het gevolg van deze vergadering was een offici&#0235;le motorvereniging met 13 leden.</div>
  <div>Nu, vele jaren later heeft de V.M.T.R. ruim 30 leden.
    Vele activiteiten worden door het hoofdbestuur en enkele commissies georganiseerd.<br />
    Het Hoofdbestuur bestaat uit:
    <ul>
      <li>Jan Luuk Stel(Voorzitter)</li>
      <li>Hendrika Bergsma (Penningmeester)</li>
      <li>Lien de Boer (Secretaris)</li>
      <li>Fokke de Jong (lid)</li>
      <li>Rob Meijeren (Website en Social Media)</li>
    </ul>

    Daarnaast is er ook de toercommissie. Zij zetten de ritten van de VMTR uit. De toercommissie bestaat uit:
    <ul>
      <li>John Meijeren</li>
      <li>Arend Berkhout</li>
      <li>Geert Neef</li>
      <li>Gerhard van Staalduinen</li>
    </ul>

    En de Afsluitweekend commissie:
    <ul>
      <li>Ellen Willems</li>
      <li>Hendrika Bergsma</li>
    </ul>
  </div>
  <p>Gedurende het jaar worden er diverse toertochten uitgezet. Naast de toertochten zijn er ook nog andere activiteiten zoals bowlen en karten en natuurlijk het bezoeken van de TT van Assen.
    Er word naar gestreeft om iedere maand tenminste 1 activiteit met de club te organiseren. Het overzicht van alle evenementen is te vinden op onze <a class='normal-link' routerLink='/evenementen'>Evenementen pagina</a></p>
  <p>De V.M.T.R. is aangesloten bij het Landelijk Overleg Orgaan Toerclubs (LOOT). Het LOOT is een overkoepelende vereniging van toerclubs, waarbij nu zo' n 200 motorclubs bij zijn aangesloten.
    Deze clubs vertegenwoordigen zo'n 25.000 motorrijders uit heel Nederland.<br>
    Het LOOT is opgericht om het toerrijden in het algemeen en in het bijzonder aktiviteiten van aangesloten clubs te bevorderen.
    Belangrijk is dat het LOOT een maandelijkse toerkalender publiceert, de Infowijzer, waarop de aangesloten clubs hun toerritten en andere activiteiten gratis kunnen plaatsen.
    Deze toerkalender is ook op de site van het LOOT te vinden.</p>
</div>
