<div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-between" fxLayoutGap="5%">
  <div class="left-column">
    <h2>Welkom</h2>
    <p>Welkom op de website van de V.M.T.R. (Verenigde Motor Tour Rijders).</p>
    <h4>Ontstaan</h4>
    <p> De V.M.T.R. is ontstaan uit een aantal vrienden die het leuk vonden om samen met “buitenstaanders” te toeren.
      Ook is in de loop van tijd een lidmaatschap met LOOT aan gegaan.
      Ondertussen is de V.M.T.R. uitgegroeid naar ca. 30 actieve leden.</p>
    <h4>Evenementen</h4>
    <p>De V.M.T.R. organiseert gedurende het jaar verschillende activiteiten.
      Dit verschilt van de maandelijkse clubavond bij Cafe Zwanenveld in Norg tot een avond karten of een weekend weg.
      Voor de uitgebreide kalender verwijzen wij u dan ook graag verder naar onze Evenementen pagina die u elders op deze website vindt.</p>
    <h4>Leden</h4>
    <p>Binnen de V.M.T.R. zijn er zowel jonge als oude leden en zo ook jonge en oude en alle soorten motoren.</p>
  </div>
  <div class="right-column">
    <div>
      <h3>Volgend Evenement</h3>
      <app-event-detail [event]="nextEvent"></app-event-detail>
    </div>
    <h3>Onze vertrekplaats</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2397.384385166106!2d6.4628628160166235!3d53.06736800327143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c830ec5c5bc6ed%3A0x2ee7699ece5d791c!2sOosteind+33%2C+9331+AG+Norg!5e0!3m2!1snl!2snl!4v1451395722997" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
