.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

  .description {
    .well-title {
      color: black;
      font-weight: bold;
      font-size: 25px;
    }
    
    .well-text {
      color: black;
      margin-top: 5px;
    }
  }

  .date {
    .fc td.fc-today {
      color: black;
    }
    
    time.icon {
      font-size: 1em;
      /* change icon size */
      display: block;
      position: relative;
      width: 7em;
      height: 7em;
      background-color: #fff;
      border-radius: 0.6em;
      box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
      overflow: hidden;
    }
    
    time.icon * {
      display: block;
      width: 100%;
      font-size: 1em;
      font-weight: bold;
      font-style: normal;
      text-align: center;
    }
    
    time.icon strong {
      position: absolute;
      top: 0;
      padding: 0.4em 0;
      color: #fff;
      background-color: #fd9f1b;
      border-bottom: 1px dashed #f37302;
      box-shadow: 0 2px 0 #fd9f1b;
    }
    
    time.icon em {
      position: absolute;
      bottom: 0.3em;
      color: #fd9f1b;
    }
    
    time.icon span {
      font-size: 2.8em;
      letter-spacing: -0.05em;
      padding-top: 0.8em;
      color: #2f2f2f;
    }
  }
}
a.eventLink {
  color: black;
  text-decoration: underline;
}
