<div class="well" fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px">
  <ng-container *ngIf="event">
    <div class="date">
      <time class="icon">
        <em>{{ event.day }}</em>
        <strong>{{ event.month }}</strong>
        <span>{{ event.dayNumber }}</span>
      </time>
    </div>
    <div class="description">
      <span class="well-title">{{ event.title }}</span>
      <p class="well-text" *ngIf='event.description !== ""'>{{ event.description }}</p>
      <p class="well-text" *ngIf="event.membersOnly !== '0'">LET OP!!! Dit evenement is alleen voor leden. Wil je lid worden? Kijk dan op onze <a class='eventLink' routerLink='lidworden'>Lid worden</a> pagina</p>
      <p *ngIf="editable" [formGroup]="dateGroup" fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px">
         <mat-form-field class="black-formfield">
            <input matInput [matDatepicker]="startDatePicker" formControlName="start" placeholder="Start datum">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
         </mat-form-field>
         <mat-form-field class="black-formfield">
            <input matInput [matDatepicker]="endDatePicker" formControlName="end" placeholder="Eind datum">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
         </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="dateGroup.get('end').value.isBefore(dateGroup.get('start').value)" (click)="changeDate()">Verander datum</button>
      </p>
      <span class="well-text" *ngIf="dateGroup.get('end').value.isBefore(dateGroup.get('start').value)">De einddatum moet gelijk zijn of na de startdatum liggen</span>
    </div>
  </ng-container>
  <ng-container *ngIf="!event">
    <span class="black">Er zijn op dit moment geen evenementen gepland. Kijk regelmatig op deze site om te zien of deze zijn ingepland.</span>
  </ng-container>
</div>
