.nav-bar {
  height: 150px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;

  &.in-collapsed-navbar {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  button {
    font-size: 18px;
    margin-right: 10px;
    color: white;
    overflow: visible;
    text-overflow: unset;

    &.active,
    &:hover,
    &:focus {
      color: blue;
    }
  }

  .submenu {
    font-size: 18px;
    color: white;
    cursor: pointer;

    &.active,
    &:hover,
    &:focus {
      color: blue;
    }
  }
}
