<nav>
  <div class="nav-bar">
    <div class="logo">
      <a routerLink="/" class="no-decoration-link"><img src="/assets/logo.png" alt="Logo" class="img-responsive" /></a>
    </div>
    <button mat-button *ngIf="showCollapsedNavbar" [matMenuTriggerFor]="collapsedMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #collapsedMenu="matMenu">
      <ng-container [ngTemplateOutlet]="expandedNav"></ng-container>
    </mat-menu>
    <ng-container *ngIf="!showCollapsedNavbar" [ngTemplateOutlet]="expandedNav"></ng-container>
  </div>
</nav>

<ng-template #expandedNav>
  <div class="menu" [class.in-collapsed-navbar]="showCollapsedNavbar">
    <ng-container *ngIf="!showLoggedInNavBar" [ngTemplateOutlet]="routeTemplate" [ngTemplateOutletContext]="{ routes: publicRoutes }"></ng-container>
    <ng-container *ngIf="showLoggedInNavBar && user.role !== 'Admin'" [ngTemplateOutlet]="routeTemplate" [ngTemplateOutletContext]="{ routes: loggedInroutes }"></ng-container>
    <ng-container *ngIf="showLoggedInNavBar && user.role === 'Admin'" [ngTemplateOutlet]="routeTemplate" [ngTemplateOutletContext]="{ routes: adminRoutes }"></ng-container>
  </div>
</ng-template>

<ng-template #routeTemplate let-routes="routes">
  <ng-container *ngFor="let route of routes">
    <button *ngIf="!route.isSubMenu && !route.action" mat-menu-item [routerLink]="route.routeLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ route.name }}</button>
    <button *ngIf="!route.isSubMenu && route.action" mat-menu-item (click)="handleRouteAction(route)">{{ route.name }}</button>
    <app-sub-nav-item *ngIf="route.isSubMenu" [route]="route"></app-sub-nav-item>
  </ng-container>
</ng-template>
