<div>
  <div>
    Met de VMTR hebben we de volgende routes gereden die wij graag willen delen. U kunt op een route klikken om deze te downloaden
    en te gebruiken op uw eigen gps apparaat. <br /><br />

    <b>Let op: het kan even duren voordat de download begint.</b><br /><br />

    <div fxLayout="row wrap" fxLayoutGap="5%">
      <div class="route" *ngFor='let routeView of routes'>
        <span class="route-title">{{ routeView.route.name }}</span>
        <div class="buttons">
          <button mat-raised-button color="primary" class="download-button" *ngIf="routeView.hasGPX" (click)="openRouteInModal(routeView.route, 'gpx')">GPX</button>
          <button mat-raised-button color="primary" class="download-button" *ngIf="routeView.hasKML" (click)="openRouteInModal(routeView.route, 'kml')">KML</button>
          <button mat-raised-button color="primary" class="download-button" *ngIf="routeView.hasITN" (click)="openRouteInModal(routeView.route, 'itn')">ITN</button>
        </div>
      </div>
    </div>
  </div>
</div>
