.normal-link {
  text-decoration: underline;
}

.route {
  background-color: #f5f5f5;
  color: black;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .route-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .buttons {
    .download-button {
      margin: 5px;
    }
  }
}
