@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  background-color: #2d2d2d;
  color: white;
}
.black {
  color: black;
}
.black-formfield {
  input {
    color: black;
  }
}
a,
a:hover,
a:focus {
  color: white;
  text-decoration: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-label {
  color: white;
}

.mat-menu-panel {
  background-color: #2d2d2d;

  .mat-menu-item {
    color: white;
  }
}

.alert {
  margin: 20px;
  border-radius: 20px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.info {
    background-color: midnightblue;
  }

  &.error {
    background-color: darkred;
  }
}

