<div>
  <div *ngIf='albums.length === 0'>
    Er zijn nog geen albums beschikbaar. Deze zullen zo snel mogelijk worden toegevoegd.
  </div>

  <p class='alert alert-danger' *ngIf='error'>{{ error }}</p>
  <div class="albums">
    <div class="album-item" *ngFor="let album of albums; let albumIndex = index">
      <h4><a [routerLink]="['/album', album.id]">{{ album.name }}</a></h4>
      <gallery [items]="images[albumIndex]" [thumb]="false" [dots]="false" [counter]="false" [nav]="false" [autoPlay]="true" loadingMode="indeterminate"></gallery>
      <p *ngIf='album.description'>{{ album.description }}</p>
    </div>
  </div>
</div>
