.gallery-item {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .album-item {
    margin-bottom: 20px;
    width: 400px;
    height: 400px;
  }  
}